@model StoreFront.DATA.EF.Models.VinylCollection

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VinylCollection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectionPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectionPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectionDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectionDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDiscontinued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDiscontinued)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectionImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectionImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condition.ConditionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre.GenreId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CollectionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
